In [2]:
import pandas as pd
import numpy as np
from datetime import datetime

date = datetime.now().strftime('%d-%m-%Y')
# date = '26-05-2025'
date

'30-05-2025'

In [3]:
# fdm = pd.read_csv(f"./input/{date}/fleet-device-mapping.csv")
fdm = pd.read_csv(f"./output/{date}/fleet-device-mapping-updated.csv", dtype=str)

In [4]:
na_count = fdm[(fdm['obu_iemi'].isna()) & (
    fdm['chalo_deviceid'].isna())].shape[0]
print(
    f"Number of rows where both obu_iemi and chalo_deviceid are NA: {na_count}")

Number of rows where both obu_iemi and chalo_deviceid are NA: 0

In [5]:
# Check for duplicates in the obu_iemi file
duplicate_rows_df = fdm[fdm['obu_iemi'].notna() & fdm.duplicated(subset=[
    'obu_iemi'], keep=False)]
if len(duplicate_rows_df) > 0:
    print("\nFound duplicate OBU IMEI numbers in fleet-device-mapping.csv:")
    print(len(duplicate_rows_df))
    print(duplicate_rows_df)
else:
    print("\nNo duplicate OBU IMEI numbers found in fleet-device-mapping.csv")

duplicate_rows_df.to_csv(
    f"output/{date}/duplicate-obu-imei.csv", index=False)

Found duplicate OBU IMEI numbers in fleet-device-mapping.csv:
8
     dep  fleet  type    regndate         obu_iemi    chalo_deviceid  \
10    BB  I0709  ORDI  2007-08-17  864513041513471               NaN
386   MV  I2922  ORDI  2010-03-01  862607059102813  869244044530974
423   TD  I2968  ORDI  2010-04-05  864513041513471               NaN
434   MV  I2992  ORDI  2010-04-19  862607059102813  358250330740993
999   PM  J0484  ORDA  2015-10-09  862547054019788  869244044491375
1741  IY  J1237  ORDR  2019-05-07  864650056121905  869244044496028
1874  PM  J1370  ORDR  2019-07-03  862547054019788               NaN
2392  IY  J1908  ORDR  2020-03-12  864650056121905  869244044496648

                     date vehicle_number                  depot ny_device_id
10    2025-04-17T11:24:49      TN01N4674      Basinbridge Depot          NaN
386   2025-04-17T11:24:49      TN01N8861       Madahvaram Depot          NaN
423   2025-04-17T11:24:49      TN01N9424     Tondiarpet-1 Depot          NaN
434   2025-04-17T11:24:49      TN01N9509       Madahvaram Depot          NaN
999   2025-04-17T11:24:49     TN01AN1148      Poonamallee Depot          NaN
1741  2025-04-17T11:24:49     TN01AN2304  Iyyappanthangal Depot          NaN
1874  2025-04-17T11:24:49     TN01AN2799      Poonamallee Depot          NaN
2392  2025-04-17T11:24:49     TN01AN3799  Iyyappanthangal Depot          NaN

In [6]:
# Check for duplicates in the chalo_deviceid column
duplicate_chalo_ids = fdm[fdm['chalo_deviceid'].notna(
) & fdm.duplicated(subset=['chalo_deviceid'], keep=False)]
if len(duplicate_chalo_ids) > 0:
    print("\nFound duplicate Chalo Device IDs:")
    print(len(duplicate_chalo_ids))
    print(duplicate_chalo_ids)
else:
    print("\nNo duplicate Chalo Device IDs found")

duplicate_chalo_ids.to_csv(
    f"output/{date}/duplicate-chalo-device-ids.csv", index=False)

No duplicate Chalo Device IDs found