In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./output/updated_route_stop.csv', dtype=str)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100883 entries, 0 to 100882
Data columns (total 14 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   route_id      100881 non-null  object
 1   route_number  100881 non-null  object
 2   stop_id       100642 non-null  object
 3   stop_name     100881 non-null  object
 4   latitude      100881 non-null  object
 5   longitude     100881 non-null  object
 6   sequence      100881 non-null  object
 7   stop_type     100883 non-null  object
 8   stage_no      100874 non-null  object
 9   stage_name    92693 non-null   object
 10  provider_id   86574 non-null   object
 11  del           0 non-null       object
 12  source        14307 non-null   object
 13  destin        14307 non-null   object
dtypes: object(14)
memory usage: 10.8+ MB

In [4]:
route_counts = df.groupby('route_id').size().reset_index(name='count').sort_values('count', ascending=True)
route_counts

     route_id  count
2534     4163      2
1207     2814      2
2178     3796      2
2879     4509      2
3419     5235      2
...       ...    ...
1473     3080     69
632      2192     69
656      2214     69
3582       76     73
3576       75     73

[3701 rows x 2 columns]